<div class="job-container">
    <div class="card p-0">
        <div class="card-header card-header-bg">
             <h1><span class="color-orange"><strong><%= job.designation %></strong></span> opportunity in <span><%= job.location %></span> at <span><strong><%= job.company %></strong></span></h1>
        </div>
        <div class="card-body p-4">
            <h3 class="card-title"><%= job.company %></h3>
            <h5 class="mb-4"><%= job.category %> <span class="color-yellow"><%= job.designation %></span></h5>
            
            <p class="card-text"><i class="bi bi-geo-alt"></i> <%= job.location %></p>
            <p class="card-text"><i class="bi bi-wallet2"></i> <%= job.salary %></p>
            <p class="card-text"><i class="bi bi-calendar4-week"></i> Apply By <%= job.lastDate %></p>
            <p class="card-text"><i class="bi bi-person-add"></i> Number of Openings <%= job.openings %></p>
            <p class="card-text"><i class="bi bi-people"></i> Applicants <%= job.applicants.length %></p>
            <div class="skills-container mt-2 mb-2">
              <% job.skills.forEach((skill) => { %>
              <span class="btn outline-yellow m-1"><%= skill%></span>
              <% }); %>
            </div>

            <a class="btn btn-orange p-2" data-bs-toggle="modal" data-bs-target="#applyModal">Apply Now <i class="bi bi-box-arrow-up-right"></i></a>
            <a href="/updatejob/<%=job.id%>" class="btn btn-warning p-2">Update <i class="bi bi-pencil-square"></i></a>
            <a href="#" class="btn btn-danger p-2" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete <i class="bi bi-trash"></i></a>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <span class="text-light">Posted on <%= job.postDate %></span>
        </div>
    </div>
</div>

<!--Apply Modal -->
<div class="modal fade" id="applyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Easily</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h1 class="modal-title fs-5 text-center mb-3" id="exampleModalLabel">Apply for <strong><%= job.designation %></strong> in <%= job.company %></h1>
            <form action="/apply/<%=job.id%>" method="post" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="formGroupExampleInput" placeholder="Enter Name">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="formGroupExampleInput2" placeholder="Enter Email">
              </div>
              <div class="mb-3">
                <label for="mobile" class="form-label">Contact</label>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">+91</span>
                  <input type="tel" class="form-control" name="mobile" placeholder="Enter Mobile" aria-label="Username"
                    aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="mb-3">
                <label for="resume" class="form-label">Resume</label>
                <div class="input-group flex-nowrap">
                  <input type="file" class="form-control" name="resume" aria-label="Username" aria-describedby="addon-wrapping">
                </div>
              </div>
              <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-orange" data-bs-toggle="modal" data-bs-target="#loginModal">Apply</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/deletejob/<%=job.id%>" method="post">
            <div class="mb-4 text-center">
              <h5 class="modal-title">Are you sure you want to delete this job?</h5>
            </div>
            <div class="mb-3 text-center">
              <button type="submit" class="btn btn-danger">Delete Job</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>